.upload-photo {
  text-align: center;
  padding: 20px;
  border: 2px dashed black;
    border-radius: 10px;
    padding: 20px;
}

.form-group {
  margin-bottom: 0;
}

.form-control {
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  font-size: 14px;
  
  background-color: transparent;
  box-shadow: none;
}
.text-area {
  border: 1px solid #000;
  border-radius: 0.5rem;
  font-size: 16px;
  padding: 5 0;
  justify-content: space-evenly;
  background-color: transparent;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.department-details {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.department-details .form-group {
  flex: 1;
  margin-bottom: 10px;
}

.symptom-section {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.symptom-section .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.symptom-section .form-group:last-child {
  margin-bottom: 0;
}

.symptom-section .form-group .btn {
  margin-left: 10px;
}

.doctor-section {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.doctor-section .btn {
  margin-bottom: 10px;
}

.submit-button {
  text-align: center;
  margin-top: 20px;
}
