<div class="container">
  <h1>Create Department</h1>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <!-- Upload Photo -->
  <div class="upload-photo row text-center align-items-center" *ngIf="departmentImage == null">
    <label for="photo" class="cloud-upload-label" style="color: blue;">
      <input type="file" id="photo" name="photo" style="display: none;">
      <i class="fa fa-cloud-upload fa-4x"></i>
    </label>
    <h5 class="mt-1">Upload Photo</h5>
  </div>
  <div class="" *ngIf="departmentImage != null || selectedFile != null">
    <img class="rectangle" width="150px" [src]="departmentImage" alt="Selected Picture" (change)="onFileSelected($event)" accept="image/*" hidden #file/>
  </div>

  <!-- Department Details -->
  <div class="department-details row">
    <div class="col-md-8 col-sm-4">
      <div class="form-group dept-name row mt-1 pb-0">
        <input type="text"
        id="department-name"
        name="name"
        class="form-control  fs-2 fw-bold text-primary"
        type="text"
        formControlName="name"
        [ngClass]="createForm.get('name')?.errors && createForm.get('name')?.touched ? 'errored-input' : ''"
        placeholder="Enter Department Name">
        <div
        class="text-danger errored-input"
        *ngIf="createForm.get('name')?.touched && createForm.get('name')?.invalid">
          <span *ngIf="createForm.get('name')?.errors?.['required']">Department Name is Required</span>
          <span *ngIf="createForm.get('name')?.errors?.['pattern'] && !createForm.get('name')?.errors?.['containsSpace']">Only Alphabets are allowed</span>
          <span *ngIf="createForm.get('name')?.errors?.['containsSpace']">Whitespaces are not allowed</span>
        </div>
      </div>
      <div class="form-group row pb-0 mt-3">
        <textarea
        class="form-control text-area"
        id="message"
        rows="3"
        type="text"
        formControlName="description"
        placeholder="Enter Description"
        [ngClass]="createForm.get('description')?.errors && createForm.get('description')?.touched ? 'errored-input' : ''"></textarea>
        <div class="text-danger errored-input" *ngIf="createForm.get('description')?.touched && createForm.get('description')?.invalid">
          <span *ngIf="createForm.get('description')?.errors?.['required']">Description is Required</span>
        </div>
      </div>

    </div>

    <div class="col-md-4 col-sm-4">
      <div class="form-group">
        <label for="time-duration" class="fs-4 fw-bold">Time Duration</label>
        <div class="row">
          <div class="col-md-8">
            <input type="text"
            id="time-duration"
            name="time-duration"
            class="form-control fs-5"
            type="number"
            formControlName="timeDuration"
            [ngClass]="createForm.get('timeDuration')?.errors && createForm.get('timeDuration')?.touched ? 'errored-input' : ''"
            placeholder="Enter in minutes">
            <div class="text-danger errored-input" *ngIf="createForm.get('timeDuration')?.touched && createForm.get('timeDuration')?.invalid">
              <span *ngIf="createForm.get('timeDuration')?.errors?.['required']">Duration is Required</span>
              <span *ngIf="createForm.get('timeDuration')?.errors?.['max']">Duration cannot exceed 120 minutes.</span>
              <span *ngIf="createForm.get('timeDuration')?.errors?.['min']">Duration cannot be less than 0 minutes.</span>
            </div>
          </div>
          <div class="col-md-4 pt-3">
            <p class="fs-5">minutes</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="building"  class="fs-4 fw-bold">Building</label>
        <div>
          <input type="text"
          id="building"
          name="building"
          class="form-control fs-5"
          type="text"
          formControlName="building"
          [ngClass]="createForm.get('building')?.errors && createForm.get('building')?.touched ? 'errored-input' : ''"
          placeholder="Building">
          <div class="text-danger errored-input" *ngIf="createForm.get('building')?.touched && createForm.get('building')?.invalid">
            <span *ngIf="createForm.get('building')?.errors?.['required']">Building is Required</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Symptom Section -->
  <div class="symptom-section">
    <h3>Symptoms</h3>
    <ng-multiselect-dropdown
      formArrayName="symptoms"
      placeholder="Select Symptoms"
      [settings]="dropdownSettings"
      [data]="symptomList"
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="onItemDeSelect($event)">
    </ng-multiselect-dropdown>
  </div>




  <!-- Doctor Section -->
  <div class="doctor-section row d-flex mb-4 text-center mt-5">
    <h3>Doctors</h3>
    <div class="col-6">
      <button type="button" class="btn btn-primary justify-content-between" (click)="registerDoctor()">Add New Doctor</button>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-primary justify-content-between" *ngIf="!isDivOpen" (click)="getAllDoctors()">Add Existing Doctor</button>
    </div>
    <div class="col-12" *ngIf="isDivOpen">
      <div *ngIf="search.length===0 && noDataFound" class="noData">
        <img [src]="noDataFoundImg" alt="No Data Found">
        <p>No Data Found!!</p>
      </div>

      <div class="row mb-3" *ngIf="totalPages >= 0">
        <div class="col-sm-4" *ngIf="!noDataFound">
          <label for="pageSize">Size:</label>
          <select class="form-select" id="size" [(ngModel)]="size" [ngModelOptions]="{ standalone: true }" (change)="onPageSizeChange()">
            <option *ngFor="let sizeOption of sizeOptions" [value]="sizeOption">{{ sizeOption }}</option>
          </select>
        </div>
        <div class="col-sm-4" *ngIf="totalPages > 0">
          <label for="sortBy">Sort By:</label>
          <select class="form-select" id="sortBy" [(ngModel)]="sortBy" [ngModelOptions]="{ standalone: true }" (change)="onSortByChange()">
            <option *ngFor="let sortByOption of sortByOptions" [value]="sortByOption.value">{{ sortByOption.label }}</option>
          </select>
        </div>
        <div class="col-sm-4" >
          <label for="search">Search:</label>
          <input class="form-control" placeholder="Search by Doctor name" type="text" id="search" [(ngModel)]="search" [ngModelOptions]="{ standalone: true }" (keyup)="onSearch()">
        </div>
      </div>

      <div class="search-error-bg d-flex justify-content-center align-items-center"*ngIf="search.length!==0 && noDataFound">
        <div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 search-error d-flex flex-column justify-content-center align-items-center">
          <img src="https://firebasestorage.googleapis.com/v0/b/ng-hasdoctime-images.appspot.com/o/Not_found.png?alt=media&token=36069041-d278-4ab3-9d79-39b2119f2c48&_gl=1*pruqll*_ga*MTczNTQ4NTgzNC4xNjgwMDAxODUy*_ga_CW55HF8NVT*MTY4NjAzMjQyMy41LjEuMTY4NjAzMjQ0My4wLjAuMA.." width="70%" height="70%">
          <h4 class="search-error-heading text-center">Sorry we couldn't find any matches for <b>"{{search}}"</b></h4>
          <h5 class="search-error-text text-center">Please try searching with another term</h5>
        </div>
      </div>

      <table class="table table-responsive table-striped table-dark mb-5 p-0" *ngIf="!noDataFound" >
        <thead class="text-center">
          <tr>
            <th>Select</th>
            <th>Name</th>
            <th>Department</th>
            <th>Cases Solved</th>
          </tr>
        </thead>
        <tbody class=" text-center" *ngFor="let doctor of doctorsList; let i = index" [ngClass]="{'table-secondary': i % 2 !== 0, 'table-light': i % 2 === 0}">
          <tr>
            <td><mat-checkbox [checked]="doctorSelected(doctor.id)"  (change)="toggleDoctorSelection(doctor.id)"></mat-checkbox></td>
            <td>{{ doctor?.user?.name }}</td>
            <td>{{ doctor?.department?.name }}</td>
            <td>{{ doctor.casesSolved}}</td>
          </tr>
        </tbody>
      </table>
      <nav *ngIf="totalPages > 1">
        <ul class="pagination">
          <li class="page-item cursor-pointer" [class.disabled]="page === 1">
            <a class="page-link" (click)="onPageChange(page - 1)">Previous</a>
          </li>
          <li class="page-item cursor-pointer" [class.active]="page === currentPage " *ngFor="let currentPage of range(totalPages)">
            <a class="page-link" (click)="onPageChange(currentPage)">{{ currentPage }}</a>
          </li>
          <li class="page-item cursor-pointer" [class.disabled]="page === totalPages">
            <a class="page-link" (click)="onPageChange(page + 1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="submit-button">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

  </form>
</div>
