<div class="d-flex">
  <div><i class="bi bi-arrow-left-circle-fill" (click)="navigateBack()"></i></div>
  <div class="container">
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a class="nav-link" routerLink="appointmentDetails" aria-current="page" routerLinkActive="active">Appointment Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pastHistory" routerLinkActive="active">Past History</a>
      </li>
    </ul>
      <router-outlet></router-outlet>
    </div>
</div>
