.chartContainer {
  width: 50%;
  height: 50%;

}

.noData{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noData p{
  margin-top: 2.5%;
  font-size: 2rem;
}

.pieChart{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-arrow-left-circle-fill{
  font-size: 30px;
  cursor: pointer;
}
