
<div class="d-flex flex-column justify-content-between">
  <div class="symptom my-2">
    <div class="card">
      <h5 class="card-header">Symptoms</h5>
      <div class="card-body d-flex flex-wrap justify-content-around">
        <div
          class="card p-0 mx-1 my-1 shadow-none border-dark badge bg-secondary"
          *ngFor="let symptom of department?.symptoms"
        >

          <div class="card-body py-1 text-light">
            {{ symptom.name }}
          </div>
        </div>
      </div>
    </div>
  </div>


<app-user-doctor-list></app-user-doctor-list>
