<div class="outer-container bg-body-tertiary">
  <div class="container pt-3">
    <h1 class="text-center pb-3">Our Services</h1>
    <div class="card-container">
      <div class="card py-3 px-5 my-3 mx-3" style="width: 18rem;" *ngFor="let department of departments">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQq2Jvbu0r0ZjkoMZBgaHik1is4zAZhVv54Q&usqp=CAU" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-heading text-center">{{department.name}}</h4>
          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
