<app-header></app-header>
<div class="outer-container bg-body-tertiary">
  <div class="container">
    <div class="text-center mb-2">
      <h2 class="heading text-lg-center pt-4">Login Form</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row my-4">
        <div class="py-1">
          <label for="email">Email address <span class="required-asterisk">*</span></label>
        </div>
        <div>
          <input type="email" id="email" placeholder="name@example.com" formControlName="email" required
            [ngClass]="{'is-invalid': submitted && loginForm.controls['email'].invalid}" class="form-control">
          <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors" class="alert alert-danger mt-3 py-1">
            <span *ngIf="loginForm.controls['email'].errors?.['required']">
              Email is required field.
            </span>
            <span *ngIf="loginForm.controls['email'].invalid  && loginForm.get('email')?.value.length">
              Please enter a valid email address.
            </span>
          </div>
        </div>
      </div>
      <div class="row my-4">
        <div class="py-1">
          <label for="password">Password <span class="required-asterisk">*</span></label>
        </div>
        <div>
          <input type="password" id="password" placeholder="Password" formControlName="password" required
            [ngClass]="{'is-invalid': submitted && loginForm.controls['password'].invalid}" class="form-control">
          <!-- <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid" class="alert alert-danger mt-3">
              Password is required and must be at least 6 characters long.
            </div> -->
          <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors" class="alert alert-danger mt-3 py-1">
            <span *ngIf="loginForm.controls['password'].invalid && loginForm.get('password')?.value.length">
              Password must be at least 6 characters long.
            </span>
            <span *ngIf="loginForm.controls['password'].errors?.['required']">
              Password is required field.
            </span>
          </div>
        </div>
      </div>
      <div class="mt-1 d-flex justify-content-center mt-3">
        <div class="d-inline-block">
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
          <!-- <button type="register" class="btn btn-primary">Register</button> -->
        </div>
      </div>
      <div *ngIf="submitted && invalidLogin" class="alert alert-danger mt-3">
        Incorrect email or password!
      </div>
    </form>
  </div>
  <!-- *ngIf="submitted && loginForm.controls['password'].invalid" -->
  <!-- *ngIf="submitted && invalidLogin" -->
</div>
