body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 40%;
  min-height: 55%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
  padding-bottom: 2%;
}

#email, #password {
  width: 100%;
}

 /* .row {
    margin-top: 5%;
 } */

 .outer-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .heading{
  color : #0074d9;
 }

 .password {
  position: relative;
}

.showPasswordIconButton{
  position: absolute;
  right: 0.01%;
  bottom: -10%;
}

.required-asterisk{
  color : red;
}

.errored-input{
  border-color : #dc3545;
}
