<div><i class="bi bi-arrow-left-circle-fill" (click)="navigateBack()"></i></div>
<!-- <div class="outer-container">
  <div class="book-appointment">
    <div class="container">
      <h2 class="text-center pt-3 heading">Book Appointment</h2>
      <form [formGroup]="bookAppointment" (ngSubmit)="createAppointment()">
        <div class="form-group">
          <label>Symptoms</label>
          <div
            *ngFor="let symptom of symptomList.controls; let i=index;"
            formArrayName="symptoms"
          >
            <div class="d-flex my-3 justify-content-around" [formGroupName]="i">
                <div>
                  <label for="symptomName">Name <span class="required-asterisk">*</span></label>
                  <select class="form-select" id="symptomName" formControlName="id" >
                    <option value="" selected disabled>Select Symptom</option>
                    <option *ngFor="let symptom of symptoms" [value]="symptom.id" [disabled]="selectedSymptom.includes(symptom.id)"
                     >{{symptom.name}}
                    </option>
                  </select>
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      bookAppointment.get('symptoms.'+i+'.name')?.touched && bookAppointment.get('symptoms.'+i+'.name')?.invalid
                    "
                  >
                    <span *ngIf="bookAppointment.get('symptoms.'+i+'.name')?.errors">Name is Required</span>
                  </div>
                </div>
              <i *ngIf="symptomList.length>1" class="bi bi-trash3-fill me-2 dlt" (click)="deleteSymptom(i)" style="cursor : pointer;"></i>
            </div>
          </div>
          <div
            *ngIf="symptomList.length === 0"
            class="d-flex justify-content-center"
          >
            <span class="no-symptom px-3 rounded my-3">
              No Symptom
            </span>
          </div>
          <div class="d-flex justify-content-center">
            <i (click)="addSymptom()" class="bi bi-plus-circle" style="cursor : pointer;"></i>
          </div>
        </div>
        <div class="form-group my-4">
          <label for="description">Time Slot <span class="required-asterisk">*</span></label>
          <select class="form-select" id="timeSlot" formControlName="timeSlot">
            <option value="09:00:00-12:00:00">09:00:00-12:00:00</option>
            <option value="12:00:00-15:00:00">12:00:00-15:00:00</option>
            <option value="15:00:00-18:00:00">15:00:00-18:00:00</option>
            <option value="18:00:00-21:00:00">18:00:00-21:00:00</option>
          </select>
          <div
            class="alert alert-danger"
            *ngIf="
              bookAppointment.get('timeSlot')?.touched && bookAppointment.get('timeSlot')?.invalid
            "
          >
            <span *ngIf="bookAppointment.get('description')?.errors">Description is Required</span>
          </div>
        </div>
        <div class="form-group my-4">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            formControlName="description"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              bookAppointment.get('description')?.touched && bookAppointment.get('description')?.invalid
            "
          >
            <span *ngIf="bookAppointment.get('description')?.errors">Description is Required</span>
          </div>
        </div>
        <div class="d-flex justify-content-center pb-4">
          <button class="btn btn-success" [disabled]="bookAppointment.invalid" (click)="getDoctorsBySymptomAndTimeSlot()" type="button">Show Doctors</button>
        </div>
        <div class="doctor-list" *ngIf = "doctorList.length">

        </div>
        <div class="d-flex justify-content-around pb-4 align-items-center">
          <button class="btn btn-success" type="submit" [disabled]="bookAppointment.invalid">Book Appointment</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
<h3 class="text-center mb-5">Book Appointment</h3>
<div class="book-appointment-container container bg-body-tertiary">
  <form class="row" [formGroup]="bookAppointment">
    <div class="symptoms border col-md-12 text-center p-0">
      <h5 class="row-heading bg-dark text-white mb-3 pt-2 pb-2">Symptoms</h5>
      <div class="ms-2 me-2 mb-2 d-flex justify-space-around flex-column">
        <div class="mb-3">
          <div
            *ngFor="let symptom of symptomList.controls; let i = index"
            formArrayName="symptoms"
          >
            <div
              class="d-flex my-3 justify-content-around"
              [formGroupName]="i"
            >
              <div class="select-field">
                <select
                  class="form-select text-dark"
                  id="symptomName"
                  formControlName="id"
                >
                  <option value="" selected disabled>Select Symptom</option>
                  <option
                    *ngFor="let symptom of symptoms"
                    [value]="symptom.id"
                    [disabled]="selectedSymptom.includes(symptom.id)"
                  >
                    {{ symptom.name }}
                  </option>
                </select>
                <div
                    class="alert alert-danger"
                    *ngIf="
                      bookAppointment.get('symptoms.'+i+'.id')?.touched && bookAppointment.get('symptoms.'+i+'.id')?.invalid
                    "
                  >
                    <span *ngIf="bookAppointment.get('symptoms.'+i+'.id')?.errors">Symptom is Required</span>
                  </div>
              </div>
              <div *ngIf="symptomList.controls.length>1">
                <i class="bi bi-trash-fill" (click)="deleteSymptom(i)"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <i
            (click)="addSymptom()"
            class="bi bi-plus-circle"
            style="cursor: pointer"
          ></i>
        </div>
      </div>
    </div>
    <div class="dates border col-md-4 text-center p-0">
      <h5 class="row-heading bg-dark text-white mb-3 pt-2 pb-2">Date</h5>
      <div class="form-group my-4 d-flex justify-content-center align-items-center flex-column">
        <div class="select-field">
          <input type="date" [max]="getMaxDate()" [min]="getMinDate()" formControlName="date"/>
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            bookAppointment.get('date')?.touched && bookAppointment.get('date')?.invalid
          "
        >
          <span *ngIf="bookAppointment.get('date')?.errors?.['required']">Date is Required</span>
          <br>
          <span *ngIf="bookAppointment.get('date')?.errors?.['unavailableDate']">Date is not available</span>
        </div>
      </div>
    </div>
    <div class="timeSlots border col-md-4 text-center p-0">
      <h5 class="row-heading bg-dark text-white mb-3 pt-2 pb-2">Time Slots</h5>
      <div class="form-group my-4 d-flex justify-content-center align-items-center flex-column">
        <div class="select-field">
          <select class="form-select" id="timeSlot" formControlName="timeSlot">
            <option value="" selected disabled>Select TimeSlot</option>
            <option value="09:00:00-12:00:00" [disabled]="checkValidTimeSlot('12:00:00')">09:00:00-12:00:00</option>
            <option value="12:00:00-15:00:00" [disabled]="checkValidTimeSlot('15:00:00')">12:00:00-15:00:00</option>
            <option value="15:00:00-18:00:00" [disabled]="checkValidTimeSlot('18:00:00')">15:00:00-18:00:00</option>
            <option value="18:00:00-21:00:00" [disabled]="checkValidTimeSlot('21:00:00')">18:00:00-21:00:00</option>
          </select>
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            bookAppointment.get('timeSlot')?.touched && bookAppointment.get('timeSlot')?.invalid
          "
        >
          <span *ngIf="bookAppointment.get('timeSlot')?.errors">TimeSlot is Required</span>
        </div>
      </div>
    </div>
    <div class="description border col-md-4 text-center p-0">
      <h5 class="row-heading bg-dark text-white mb-3 pt-2 pb-2">Description</h5>
      <div class="form-group my-4 d-flex justify-content-center align-items-center">
        <div class="select-field">
          <input type="text" name="description" id="description" formControlName="description" class="form-control" placeholder="Enter Description"/>
        </div>
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-center align-items-center mt-5">
    <button class="btn btn-primary" (click)="getDoctorsBySymptomAndTimeSlot()" [disabled]="bookAppointment.invalid">Show Doctors</button>
  </div>
  <div class="show-doctos">
    <div  class="col m-0 p-0 mt-5">
      <div class="container">
        <h3 class="mb-4 text-center" *ngIf="doctorList.length>0">Available Doctors</h3>
        <hr>
        <div class="row mb-3" >
          <div class="col-sm-4" *ngIf="totalPages > 0">
            <label for="pageSize">Size:</label>
            <select class="form-select" id="size" [(ngModel)]="size" (change)="onPageSizeChange()">
              <option *ngFor="let sizeOption of sizeOptions" [value]="sizeOption">{{ sizeOption }}</option>
            </select>
          </div>
          <div class="col-sm-4" *ngIf="totalPages > 0">
            <label for="sortBy">Sort By:</label>
            <select class="form-select" id="sortBy" [(ngModel)]="sortBy" (change)="onSortByChange()">
              <option *ngFor="let sortByOption of sortByOptions" [value]="sortByOption.value">{{ sortByOption.label }}</option>
            </select>
          </div>
          <div class="col-sm-4" *ngIf="doctorsShowed">
            <label for="search">Search:</label>
            <input class="form-control" type="text" id="search" [(ngModel)]="search" (keyup)="onSearch()">
          </div>
        </div>

        <div class="table-responsive m-0 p-0" *ngIf="doctorList.length>0">
          <table class="table table-striped table-dark mb-5 p-0" >
            <thead class="text-center">
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Qualification</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class=" text-center" *ngFor="let doctor of doctorList; let i = index" [ngClass]="{'table-secondary': i % 2 !== 0, 'table-light': i % 2 === 0}">
              <tr>
                <td>{{ i+1 }}</td>
                <td>{{ doctor?.user?.name }}</td>
                <td>{{ doctor?.user?.gender }} </td>
                <td>{{ doctor?.user?.age }} </td>
                <td>{{ doctor?.qualification }} </td>
                <td><button class="btn btn-primary book-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectDoctor(i)">Book</button></td>
              </tr>
            </tbody>
          </table>
        </div>

        <nav *ngIf="totalPages > 1">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="page === 1">
              <a class="page-link" (click)="onPageChange(page - 1)">Previous</a>
            </li>
            <li class="page-item" [class.active]="page === currentPage " *ngFor="let currentPage of range(totalPages)">
              <a class="page-link" (click)="onPageChange(currentPage)">{{ currentPage }}</a>
            </li>
            <li class="page-item" [class.disabled]="page === totalPages">
              <a class="page-link" (click)="onPageChange(page + 1)">Next</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
    <div *ngIf = "noDataFound" class="noData">
      <img [src]="noDataFoundImg" alt="No Data Found">
      <p>No Data Found!!</p>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Booking</h5>
        <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="close-btn"><i class="bi bi-x-lg"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="confirmAppointment">
          <div class="symptoms d-flex field">
            <p class="label">Symptoms</p>
            <div class="symptom-list value">
              <div class="card p-0 mx-1 my-1 shadow-none border-dark badge bg-secondary" *ngFor="let symptom of selectedSymptoms">
                <div class="card-body py-0 text-light" >
                  {{ symptom }}
                </div>
              </div>
            </div>
          </div>
          <div class="timeSlot d-flex field">
            <p class="label">Preferred Time Slot</p>
            <div class="value">{{bookAppointment.get('timeSlot')?.value}}</div>
          </div>
          <div class="description d-flex field">
            <p class="label">Description</p>
            <div class="value">{{bookAppointment.get('description')?.value}}</div>
          </div>
          <div class="doctor d-flex field">
            <p class="label">Doctor Name</p>
            <div class="value">{{currentDoctor.user.name}}</div>
          </div>
          <div class="availableTimeSlot d-flex field">
              <p class="label">Select Date</p>
              <div>
                <select class="form-select timeSlot-select value" id="timeSlot" formControlName="timeSlot">
                  <option value="" selected disabled>Select TimeSlot</option>
                  <option [value]="times.id" *ngFor="let times of currentDoctor?.availableTimeSlots">{{convertTimeStampToDate(times.startTime) | date : 'mediumTime'}}-{{convertTimeStampToDate(times.endTime) | date : 'mediumTime'}}</option>
                </select>
                <div
                  class="alert alert-danger"
                  *ngIf="
                    confirmAppointment.get('timeSlot')?.touched && confirmAppointment.get('timeSlot')?.invalid
                  "
                >
                  <span *ngIf="confirmAppointment.get('timeSlot')?.errors">TimeSlot is Required</span>
                </div>
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="confirmAppointment.invalid" (click)="createAppointment()">Book Appointment</button>
      </div>
    </div>
  </div>
</div>