<div><i class="bi bi-arrow-left-circle-fill" (click)="navigateBack()"></i></div>
<div class="outer-container">
  <div class="book-appointment">
    <div class="container">
      <h2 class="text-center pt-3 heading">Book Appointment</h2>
      <form [formGroup]="bookAppointment" (ngSubmit)="createAppointment()">
        <div class="form-group">
          <label>Symptoms</label>
          <div
            *ngFor="let symptom of symptomList.controls; let i=index;"
            formArrayName="symptoms"
          >
            <div class="d-flex my-3 justify-content-around" [formGroupName]="i">
                <div>
                  <label for="symptomName">Name <span class="required-asterisk">*</span></label>
                  <select class="form-select" id="symptomName" formControlName="id" >
                    <option value="" selected disabled>Select Symptom</option>
                    <option *ngFor="let symptom of symptoms" [value]="symptom.id" [disabled]="selectedSymptom.includes(symptom.id)"
                     >{{symptom.name}}
                    </option>
                  </select>
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      bookAppointment.get('symptoms.'+i+'.name')?.touched && bookAppointment.get('symptoms.'+i+'.name')?.invalid
                    "
                  >
                    <span *ngIf="bookAppointment.get('symptoms.'+i+'.name')?.errors">Name is Required</span>
                  </div>
                </div>
              <i *ngIf="symptomList.length>1" class="bi bi-trash3-fill me-2 dlt" (click)="deleteSymptom(i)" style="cursor : pointer;"></i>
            </div>
          </div>
          <div
            *ngIf="symptomList.length === 0"
            class="d-flex justify-content-center"
          >
            <span class="no-symptom px-3 rounded my-3">
              No Symptom
            </span>
          </div>
          <div class="d-flex justify-content-center">
            <i (click)="addSymptom()" class="bi bi-plus-circle" style="cursor : pointer;"></i>
          </div>
        </div>
        <div class="form-group my-4">
          <label for="description">Time Slot <span class="required-asterisk">*</span></label>
          <select class="form-select" id="timeSlot" formControlName="timeSlot">
            <option value="09:00:00-12:00:00">09:00:00-12:00:00</option>
            <option value="12:00:00-15:00:00">12:00:00-15:00:00</option>
            <option value="15:00:00-18:00:00">15:00:00-18:00:00</option>
            <option value="18:00:00-21:00:00">18:00:00-21:00:00</option>
        </select>
          <div
            class="alert alert-danger"
            *ngIf="
              bookAppointment.get('timeSlot')?.touched && bookAppointment.get('timeSlot')?.invalid
            "
          >
            <span *ngIf="bookAppointment.get('description')?.errors">Description is Required</span>
          </div>
        </div>
        <div class="form-group my-4">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            formControlName="description"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              bookAppointment.get('description')?.touched && bookAppointment.get('description')?.invalid
            "
          >
            <span *ngIf="bookAppointment.get('description')?.errors">Description is Required</span>
          </div>
        </div>
        <div class="d-flex justify-content-center pb-4">
          <button class="btn btn-success" [disabled]="bookAppointment.invalid" (click)="getDoctorsBySymptomAndTimeSlot()" type="button">Show Doctors</button>
          </div>
        <div class="d-flex justify-content-around pb-4 align-items-center">
          <button class="btn btn-success" type="submit" [disabled]="bookAppointment.invalid">Book Appointment</button>
        </div>
      </form>
    </div>
  </div>
</div>
