.form-check{
  display: inline-block;
  margin-right:3%;
}

.form-group{
  width: 100%;
}

.registerForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2%;
}

.gender{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  width: 100%;
}

.doctorDetails .form-group{
  width: 100%;
}


i{
  font-size: 25px;
}

.outer-container{
  padding: 3% 0;
}

.container{
  background-color: white;
  width: 70%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
}

.dlt{
  margin-top: 2.6%;
}

.dlt:hover{
    color: brown;
}

.heading{
  color: #0074d9;
}

.no-symptom{
  background-color: rgb(223, 220, 220);
  color: rgb(0, 0, 0);
}

.required-asterisk{
  color : red;
}
