<app-header></app-header>
<div
  class="d-flex justify-content-center flex-column align-items-center"
>
  <h3 class="mt-4">Confirm your email</h3>
  <form action="" [formGroup]="forgotPasswordForm" class="w-50">
    <div class="form-group mb-4 ms-4">
      <label for="email" class="mt-3 ms-4"
        >Email address <span class="required-asterisk">*</span></label
      >
      <input
        type="email"
        class="form-control mt-3 ms-4"
        id="email"
        placeholder="(Eg : johndoe@gmail.com)"
        formControlName="email"
        [ngClass]="
          forgotPasswordForm.get('email')?.errors &&
          forgotPasswordForm.get('email')?.touched
            ? 'errored-input'
            : ''
        "
      />
      <div
        class="text-danger errored-input"
        *ngIf="
          forgotPasswordForm.get('email')?.touched &&
          forgotPasswordForm.get('email')?.invalid
        "
      >
        <span
          *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
          class="ms-4"
          >Email is Required</span
        >
        <span
          *ngIf="forgotPasswordForm.get('email')?.errors?.['email']"
          class="ms-4"
          >Enter Valid Email</span
        >
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary" (click)="sendMail()" id="btn">
        <i class="bi bi-send me-2"></i>Send OTP
      </button>
    </div>
  </form>
</div>
<!-- <div class="confirmOtp" class="mt-4">
        <form action="" >
            <h4 class="w-100">Enter OTP</h4>
            <div class="otp-wrapper">
                <input type="number" class="otp-input" maxlength="1" />
                <input type="number" class="otp-input"  maxlength="1"/>
                <input type="number" class="otp-input" maxlength="1"/>
                <input type="number" class="otp-input" maxlength="1"/>
                <input type="number"  class="otp-input" maxlength="1"/>
                <input type="number"  class="otp-input" maxlength="1"/>
            </div>
            <div class="d-flex justify-content-center mt-3"><button class="btn btn-primary" (click)="verifyOtp()">Submit</button></div>
        </form>
    </div> -->
<div class="container hidden">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="card col-12 col-md-8 col-lg-7 p-4">
      <div class="card-body">
        <h4 class="card-title text-center">OTP Verificattion</h4>
        <div class="card-text text-center mt-5">
          <form action="" class="otp-form">
            <input
              class="otp-field"
              type="text"
              name="opt-field[]"
              maxlength="1"
            />
            <input
              class="otp-field"
              type="text"
              name="opt-field[]"
              maxlength="1"
            />
            <input
              class="otp-field"
              type="text"
              name="opt-field[]"
              maxlength="1"
            />
            <input
              class="otp-field"
              type="text"
              name="opt-field[]"
              maxlength="1"
            />
            <input
              class="otp-field"
              type="text"
              name="opt-field[]"
              maxlength="1"
            />
            <input
              class="otp-field"
              type="text"
              name="opt-field[]"
              maxlength="1"
            />

            <!-- Store OTP Value -->
            <input class="otp-value" type="hidden" name="opt-value" />
            <div class="d-block mt-4">
              <button class="btn btn-primary" (click)="verifyOtp()">
                Verify
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container d-flex align-items-center flex-column">
  <form action="" [formGroup]="changePasswordForm" class="w-70">
      <h3 class="text-center">Password Update</h3>
      <div class="form-group mb-4">
          <div class="passwordInfo"><label for="password">New Password <span class="required-asterisk">*</span></label></div>
          <div class="password d-flex">
            <input
              [type]="passwordType"
              class="form-control"
              id="password"
              placeholder="Enter Password"
              formControlName="password"
              [ngClass]="{'errored-input' : changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched}"
            />
            <button mat-icon-button (click)="toggleShowPassword()" type="button" class="showPasswordIconButton">
              <mat-icon >{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
          </div>
          <div
            class="text-danger errored-input"
            *ngIf="
              changePasswordForm.get('password')?.touched &&
              changePasswordForm.get('password')?.invalid
            "
          >
            <span *ngIf="changePasswordForm.get('password')?.errors?.['required']"
              >Password is Required</span
            >
            <span *ngIf="changePasswordForm.get('password')?.errors?.['containsWhitespace']"
              >Password must not contain white-space characters
              </span
            >
            <span *ngIf="changePasswordForm.get('password')?.errors?.['lacksUppercase']"
              >Password must contain at least one uppercase character
              </span
            >
            <span *ngIf="changePasswordForm.get('password')?.errors?.['lacksLowercase']"
              >Password must contain at least one lowercase character
              </span
            >
            <span *ngIf="changePasswordForm.get('password')?.errors?.['lacksSpecialChar']"
              >Password must contain at least one special character [Allowed -> !@#$%^&+=\-_/]
              </span
            >
            <span *ngIf="changePasswordForm.get('password')?.errors?.['lacksNumber']"
              >Password must contain at least one number
              </span
            >
            <span *ngIf="changePasswordForm.get('password')?.errors?.['minLength']"
              >Password should at least be 8 characters long.
              </span
            >
          </div>
        </div>
        <div class="form-group mb-4">
          <label for="confirmPassword">Confirm New Password <span class="required-asterisk">*</span></label>
          <div class="password d-flex">
          <input
            [type]="confirmPasswordType"
            class="form-control"
            id="confirmPassword"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&+=_\-\*/])(?=\S+$).{8,}$"
            [ngClass]="changePasswordForm.get('confirmPassword')?.errors && changePasswordForm.get('confirmPassword')?.touched ? 'errored-input' : ''"
          />
          <button mat-icon-button (click)="toggleShowConfirmPassword()" type="button" class="showPasswordIconButton">
            <mat-icon>{{ showConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
        </div>
          <div
            class="text-danger errored-input"
            *ngIf="
              changePasswordForm.get('confirmPassword')?.touched &&
              changePasswordForm.get('confirmPassword')?.errors
            "
          >
            <span *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']"
              >
              Password is Required</span
            >
            <span *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['pattern']"
              >
              Enter Valid Password</span
            >
          </div>
          <div
            class="text-danger errored-input"
            *ngIf="changePasswordForm.get('confirmPassword')?.hasError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.touched"
          >
          <span *ngIf="changePasswordForm.get('confirmPassword')?.hasError('passwordMismatch')">
            Passwords do not match.
          </span>
          </div>
        </div>
  </form>
</div>
