app-sidebar{
    margin-top:4vh;
    max-width: max-content;
    padding: 0% 0%;
  }



  .col {
    padding: 0% 0%;
    margin: 0;
  }

  .row {
    padding: 0% 0%;
    margin: 0;
  }

   i.fa-caret-right {
    font-size: 1.4em;
  }

  .bi-arrow-left-circle-fill{
    font-size: 30px;
    cursor: pointer;
  }
