<div class="col m-0 p-0 mt-5">
  <div *ngIf="appointments.length === 0" class="no-appointments d-flex align-items-center flex-column">
    <img
      src="../../../assets/no_appointments.png"
      alt="No Appointments"
      height="280"
      width="330"
    />
    <h3 class="text-center">No Appointments</h3>
  </div >
  <div class="container" *ngIf="appointments.length !== 0">
    <h1 class="mb-4 text-center" *ngIf="appointments.length > 0">Schedule</h1>
    <hr>

    <div class="row mb-3" *ngIf="totalPages >= 0">
      <div class="col-sm-4">
        <label for="pageSize">Size:</label>
        <select class="form-select" id="size" [(ngModel)]="size" (change)="onPageSizeChange()">
          <option *ngFor="let sizeOption of sizeOptions" [value]="sizeOption">{{ sizeOption }}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="sortBy">Sort By:</label>
        <select class="form-select" id="sortBy" [(ngModel)]="sortBy" (change)="onSortByChange()">
          <option *ngFor="let sortByOption of sortByOptions" [value]="sortByOption.value">{{ sortByOption.label }}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="search">Search:</label>
        <input class="form-control" type="text" id="search" [(ngModel)]="search" (keyup)="onSearch()">
      </div>
    </div>

    <div class="search-error-bg d-flex justify-content-center align-items-center"*ngIf="dataBySearch">
      <div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 search-error d-flex flex-column justify-content-center align-items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/ng-hasdoctime-images.appspot.com/o/Not_found.png?alt=media&token=36069041-d278-4ab3-9d79-39b2119f2c48&_gl=1*pruqll*_ga*MTczNTQ4NTgzNC4xNjgwMDAxODUy*_ga_CW55HF8NVT*MTY4NjAzMjQyMy41LjEuMTY4NjAzMjQ0My4wLjAuMA.." width="70%" height="70%">
        <h4 class="search-error-heading text-center">Sorry we couldn't find any matches for <b>"{{search}}"</b></h4>
        <h5 class="search-error-text text-center">Please try searching with another term</h5>
      </div>
    </div>

    <div class="table-responsive m-0 p-0" *ngIf="!dataBySearch">

      <table class="table table-striped table-dark m-0 p-0" >
        <thead class="text-center">
          <tr>
            <th>Sr. No.</th>
            <th>Description</th>
            <th>Patient
              <i class="fa fa-caret-up"   *ngIf="sortDescending === true"  (click)="onSortDescending()"></i>
              <i class="fa fa-caret-down" *ngIf="sortDescending === false" (click)="onSortDescending()"></i>
            </th>
            <th>Timeslot</th>
            <th>More Information</th>
          </tr>
        </thead>
        <tbody class=" text-center" *ngFor="let appointment of appointments; let i = index"
        [ngClass]="{'table-secondary': i % 2 !== 0, 'table-light': i % 2 === 0}">
          <tr>
            <td>{{i + 1}}</td>
            <td>{{ appointment.description}}</td>
            <td>{{ appointment.user.name }}</td>
            <td>{{ appointment.timeSlotForAppointment?.startTime }} - {{ appointment.timeSlotForAppointment?.endTime }}</td>
            <td>
              <a class="btn" (click)="appointmentDetail(i)">
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav *ngIf="totalPages > 1">
      <ul class="pagination">
        <li class="page-item cursor-pointer" [class.disabled]="page === 1">
          <a class="page-link" (click)="onPageChange(page - 1)">Previous</a>
        </li>
        <li class="page-item cursor-pointer" [class.active]="page === currentPage " *ngFor="let currentPage of range(totalPages)">
          <a class="page-link" (click)="onPageChange(currentPage)">{{ currentPage }}</a>
        </li>
        <li class="page-item cursor-pointer" [class.disabled]="page === totalPages">
          <a class="page-link" (click)="onPageChange(page + 1)">Next</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
