<div class="col-md-auto min-vh-100 m-0 p-0 " style="background-color: #1a5496; max-width: max-content;">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item mt-4">
      <a class="nav-link text-white text-decoration-none" routerLink="/appointment" routerLinkActive="active-page">
        <i class="fas fa-calendar-check me-3"></i>
        <span>Appointments</span>
      </a>
    </li>
    <li class="nav-item mt-2">
      <a class="nav-link text-white text-decoration-none" routerLink="/profile" routerLinkActive="active-page">
        <i class="fa-solid fa-user me-3"></i>
        <span>Profile</span>
      </a>
    </li>
    <li class="nav-item mt-2">
      <a class="nav-link text-white text-decoration-none" routerLink="/medicalHistory" routerLinkActive="active-page">
        <i class="fa-solid fa-clock-rotate-left me-3"></i>
        <span>Medical History</span>
      </a>
    </li>
  </ul>
</div>
