
  <div class="sidebar-container position-relative">
    <div class="col-md-auto min-vh-100 m-0 p-0">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item mt-4">
          <a class="nav-link text-white text-decoration-none" routerLink="appointment" routerLinkActive="active-page">
            <i class="fas fa-calendar-check me-3"></i>
            <span>Appointments</span>
          </a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link text-white text-decoration-none" routerLink="profile" routerLinkActive="active-page">
            <i class="fa-solid fa-user me-3"></i>
            <span>Profile</span>
          </a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link text-white text-decoration-none" routerLink="medicalHistory" routerLinkActive="active-page">
            <i class="fa-solid fa-clock-rotate-left me-3"></i>
            <span>Medical History</span>
          </a>
        </li>
      </ul>
    </div>
    <div id="scrollBtn">
      <button (click)="scrollToTop()" class="btn btn-light btn-lg btn-scroll-top position-fixed bottom-0 mb-4" [ngClass]="{'show': isShowScrollButton}">
        <i class="fa fa-angle-up" ></i>
      </button>
    </div>

  </div>
