<div class="card mb-4">
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="form-group row mb-2">
            <label for="" class="col-5 col-form-label"><strong>Patient Name</strong></label>
            <div class="col-7">
              <p class="form-control-plaintext">{{ appointment.user.name }}</p>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="" class="col-5 col-form-label"><strong>Description</strong></label>
            <div class="col-7">
              <p class="form-control-plaintext">{{ appointment.description }}</p>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="" class="col-5 col-form-label"><strong>Contact</strong></label>
            <div class="col-7">
              <p class="form-control-plaintext">{{ appointment.user.contact }}</p>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="" class="col-5 col-form-label"><strong>Email</strong></label>
            <div class="col-7">
              <p class="form-control-plaintext">{{ appointment.user.email }}</p>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="" class="col-5 col-form-label"><strong>Age</strong></label>
            <div class="col-7">
              <p class="form-control-plaintext">{{ appointment.user.age }} years</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="form-group row mb-2">
            <label for="" class="col-5 col-form-label"><strong>Date</strong></label>
            <div class="col-7">
              <p class="form-control-plaintext">{{ appointment.timeSlotForAppointment?.startTime | date : 'mediumDate'}}</p>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="" class="col-5 col-form-label"><strong>Time Slot</strong></label>
            <div class="col-7">
              <p class="form-control-plaintext">{{ appointment.timeSlotForAppointment?.startTime | date : 'mediumTime'}} - {{ appointment.timeSlotForAppointment?.endTime | date : 'mediumTime'}}</p>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="" class="col-5 col-form-label"><strong>Gender</strong></label>
            <div class="col-7">
              <p class="form-control-plaintext">{{ appointment.user.gender }}</p>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="" class="col-5 col-form-label"><strong>Blood Group</strong></label>
            <div class="col-7">
              <p class="form-control-plaintext">{{ appointment.user.bloodGroup }}</p>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="" class="col-5 col-form-label"><strong>Height</strong></label>
            <div class="col-7">
              <p class="form-control-plaintext">{{ appointment.user.height }} feet</p>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="" class="col-5 col-form-label"><strong>Weight</strong></label>
            <div class="col-7">
              <p class="form-control-plaintext">{{ appointment.user.weight }} kg</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <label for="" class="col-form-label"><strong>Symptoms</strong></label>
          <div class="d-flex flex-wrap justify-content-around">
            <div
              class=" p-0 mx-1 my-1 shadow-none border-dark bg-dark"
              *ngFor="let symptom of appointment?.symptoms"
            >
              <div class="py-1 text-light p-2">
                {{ symptom.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <label for="" class="col-form-label"><strong>Chronic Illness</strong></label>
          <div class="d-flex flex-wrap justify-content-around">
            <div
              class=" p-0 mx-1 my-1 shadow-none border-dark bg-info"
              *ngFor="let  chronicIllness of appointment?.user?.patientChronicIllness"
            >
              <div class="py-1 text-light p-2">
                {{ chronicIllness.chronicIllness?.name }}
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
  </div>
