<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <img src="assets/logo/doctime-logo1.png" alt="doctime-logo" width="150" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <p class="fontinc">Hospital Appointment System</p>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <section>
                <div class="example-button-row" >
                    <button *ngIf="!inSignupForm && !registered" style="margin-right: 10px;" class="btn btn-outline-dark" color="primary" routerLink="/register" (click)="onRegister()">Sign Up</button>
                    <button *ngIf="!registered" class="btn btn-dark" color="accent" routerLink="/login">Login</button>
                    <button *ngIf="registered" class="btn btn-dark" color="accent" (click)="onLogout()">Logout</button>
                </div>
            </section>
        </div>
    </div>
</nav>

<!-- <p>
    <mat-toolbar color="primary">
    <div>
        <div>
            <a href="#">
                <img src="assets/logo/doctime-logo1.png" alt="doctime-logo" width="150" height="50">
            </a>
            <span style="margin-left: 30px; margin-right: 30px;">Hospital Appointment System</span>
        </div>
        <div style="text-align: right;">
            <span class="example-spacer"></span>
            <button style="margin-right: 10px;" mat-raised-button color="primary" routerLink="/register">Register</button>
            <button mat-raised-button color="accent" routerLink="/login">Login</button>
        </div>
    </div>
    </mat-toolbar>
</p> -->
