
.fontinc{
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar{
  border-bottom: 2px solid rgb(200, 202, 199);
  --bs-navbar-padding-y: 0rem;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.mat-mdc-raised-button.mat-primary{
  background-color:#0074d9;
  color: white;
}

.mat-mdc-raised-button.mat-accent{
  background-color: #41831D;
  color: white;
}

.row>*{
  padding-left: 0;
}

/* .show .example-button-row{
  display: flex;
  flex-direction: column;
} */

